.ShipmentInqueryForm {
  box-shadow: 0 3px 12px #dedede;
  background-color: #fff;
  width: 500px;
  border: 10px;
  border-radius: 10px;
  padding: 40px;
  color: #5e5e5e;
  text-align: right;
}
.ShipmentInqueryForm form {
  padding-right: 0;
}
.ShipmentInqueryForm h4 {
  margin-bottom: 12px;
  color: #f00;
  font-weight: 600;
}
.ShipmentInqueryForm p {
  font-size: 18px;
  margin-bottom: 30px;
}

.ShipmentInqueryForm form input {
  border: 1px solid #e3e7ec;
  border-radius: 5px;
  padding: 5px 10px;
}
.ShipmentInqueryForm form button {
  background-color: #fb0006;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  height: 32px;
  width: 32px;
  margin-right: 15px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .ShipmentInqueryForm {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .ShipmentInqueryForm {
    width: 300px;
    padding: 30px;
  }
  .ShipmentInqueryForm form input {
    width: 75%;
  }
  .ShipmentInqueryForm p {
    margin-bottom: 15px;
  }
}
