.ShipmentTransitDetails {
  overflow-x: auto;
}
table {
  width: 100%;
  font-size: 0.85rem;
  border-collapse: separate;
  border-spacing: 0;
}
/* table's top border */
table th {
  color: #8f9bb2;
  background: #f9f9f9;
  border-top: 2px solid #f1f1f1;
}
table td {
  font-weight: 600;
  color: #404559;
}
/* table's and cells' bottom border */
table th,
table td {
  border-bottom: 2px solid #f1f1f1;
  padding: 15px;
}
@media screen and (max-width: 480px) {
  table th,
  table td {
    padding: 13px 5px;
    text-align: center;
  }
}
/* table's right border */
table th:first-child,
table td:first-child {
  border-right: 2px solid #f1f1f1;
}
/* table's right border */
table th:last-child,
table td:last-child {
  border-left: 2px solid #f1f1f1;
}
/* table's corners */
table tr:first-child th:first-child {
  border-top-right-radius: 5px;
}
table tr:first-child th:last-child {
  border-top-left-radius: 5px;
}
table tr:last-child td:first-child {
  border-bottom-right-radius: 5px;
}
table tr:last-child td:last-child {
  border-bottom-left-radius: 5px;
}

#date-fix {
  text-align: right;
  direction: ltr;
}
