h6 {
  font-weight: 600;
}
.ShipmentProgress .card-body {
  padding: 25px;
}

.ShipmentProgress .details p {
  font-weight: 700;
  margin-bottom: 0;
}
.ShipmentProgress .details h6 {
  color: #999999;
}

td {
  font-weight: 600;
  color: #485064;
}
.TransitDetails table {
  width: 100%;
  font-size: 0.85rem;
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 15px;
}
/* table's top border */
.TransitDetails table tr th {
  color: #8f9bb2;
  background: #f7f7f7;
  border-top: 2px solid #f1f1f1;
}
/* table's and cells' bottom border */
.TransitDetails table tr th,
.TransitDetails table tr td {
  border-bottom: 2px solid #f1f1f1;
  padding: 15px;
}
/* table's right border */
.TransitDetails table tr th:first-child,
.TransitDetails table tr td:first-child {
  border-right: 2px solid #f1f1f1;
}
/* table's right border */
.TransitDetails table tr th:last-child,
.TransitDetails table tr td:last-child {
  border-left: 2px solid #f1f1f1;
}
/* table's corners */
.TransitDetails table tr:first-child th:first-child {
  border-top-right-radius: 6px;
}
.TransitDetails table tr:first-child th:last-child {
  border-top-left-radius: 6px;
}
.TransitDetails table tr:last-child td:first-child {
  border-bottom-right-radius: 6px;
}
.TransitDetails table tr:last-child td:last-child {
  border-bottom-left-radius: 6px;
}
