h6 {
  font-weight: 600;
}
p {
  margin-bottom: 0;
}
.ShipmentProgress .card-body {
  padding: 25px;
}

.ShipmentProgress .details p {
  font-weight: 700;
  margin-bottom: 0;
}
.ShipmentProgress .details h6 {
  color: #999999;
}

.ShipmentProgress hr {
  margin: 20px -20px 0;
}
.ShipmentProgress .progress-step {
  border: 1px solid black;
  border-radius: 50%;
}
td {
  font-weight: 600;
  color: #404559;
}
.TransitDetails {
  overflow-x: auto;
}
.TransitDetails table {
  width: 100%;
  font-size: 0.85rem;
  border-collapse: separate;
  border-spacing: 0;
}
/* table's top border */
.TransitDetails table tr th {
  color: #8f9bb2;
  background: #f9f9f9;
  border-top: 2px solid #f1f1f1;
}
/* table's and cells' bottom border */
.TransitDetails table tr th,
.TransitDetails table tr td {
  border-bottom: 2px solid #f1f1f1;
  padding: 15px;
}
/* table's right border */
.TransitDetails table tr th:first-child,
.TransitDetails table tr td:first-child {
  border-right: 2px solid #f1f1f1;
}
/* table's right border */
.TransitDetails table tr th:last-child,
.TransitDetails table tr td:last-child {
  border-left: 2px solid #f1f1f1;
}
/* table's corners */
.TransitDetails table tr:first-child th:first-child {
  border-top-right-radius: 5px;
}
.TransitDetails table tr:first-child th:last-child {
  border-top-left-radius: 5px;
}
.TransitDetails table tr:last-child td:first-child {
  border-bottom-right-radius: 5px;
}
.TransitDetails table tr:last-child td:last-child {
  border-bottom-left-radius: 5px;
}

.ShippingAddress .address-details {
  color: #404559;
  background: #f9f9f9;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.85rem;
}
.Complaint {
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
.Complaint img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .Complaint img {
    height: 60%;
    width: 60%;
  }
}
.Complaint p {
  margin-bottom: 10px;
}
.Complaint button {
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  padding: 7px 42px;
  border-radius: 10px;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Complaint button {
    padding: 7px 17px;
  }
}
