h6 {
  font-weight: 600;
  color: #323232;
}
p {
  margin-bottom: 0;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ShippingAddress .address-details {
  color: #404559;
  background: #f9f9f9;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.85rem;
}
.Complaint {
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
.Complaint img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .Complaint img {
    height: 60%;
    width: 60%;
  }
}
.Complaint p {
  margin-bottom: 10px;
}
.Complaint button {
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  padding: 7px 42px;
  border-radius: 10px;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Complaint button {
    padding: 7px 17px;
  }
}
