.Stepper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 5px;
}

.stepper-item {
  font-size: 13px;
  font-weight: 700;
  color: #d1d1d1;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
@media (max-width: 768px) {
  .stepper-item {
    font-size: 13px;
  }
}
.stepper-item::before {
  position: absolute;
  content: attr(data-before);
  border-bottom: 7px solid #e9e9e9;
  width: 100%;
  top: 17px;
  left: -50%;
  z-index: 2;
}
.stepper-item.completed:not(:first-child) .progress-bar {
  position: absolute;
  content: attr(data-after);
  border-bottom: 7px solid #f6ad0a;
  width: 100%;
  top: 17px;
  left: 50%;
  z-index: 3;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #d1d1d1;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 6px;
}
.stepper-item.completed .step-counter {
  background-color: #f6ad0a;
  border: none;
  color: #fff;
  width: 22px;
  height: 22px;
  top: 9px;
}

.stepper-item.completed .step-name {
  color: #323232;
  position: relative;
  top: 18px;
}

.stepper-item:last-child::before {
  content: none;
}

.stepper-item.completed:not(:first-child) .progress-bar.delivered {
  border-color: #1ac45e;
}
.stepper-item.completed .step-counter.delivered {
  background-color: #1ac45e;
}
